@import "./Variables.scss";

%button {
  background-color: $orange;
  border: 0;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  font-family: $font-pt;
  height: 40px;
  line-height: 40px;
  overflow: hidden;
  outline-width: 2px;
  padding: 0 24px;
  position: relative;
  text-align: center;
  text-decoration: none;
  -webkit-transition-duration: 167ms;
  transition-duration: 167ms;
  -webkit-transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, box-shadow, color;
  transition-property: background-color, box-shadow, color, -webkit-box-shadow;
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  vertical-align: middle;
  z-index: 0;
}

%button-effects {
  display: inline-block;
  position: relative;
  background: none;
  border: none;
  color: $orange;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin: 0 0 10px;
  text-decoration: none;
}
%button-effects-span {
  display: block;
  padding: 15px 30px;
}

%home-heading {
  font-size: 42px;
  font-weight: 300;
  line-height: 48px;
  margin: 0;
  color: $text;
  padding: $padding-top-bot;
}
%home-heading-span {
  font-size: $font-s-16;
  display: block;
  line-height: normal;
  margin-top: 10px;
}
%login-btn-bg {
  background-color: -webkit-linear-gradient(45deg, $orange, #f11600);
  background: -moz-linear-gradient(45deg, $orange, #f11600);
  background: -o-linear-gradient(45deg, $orange, #f11600);
  background: linear-gradient(45deg, $orange, #f11600);
  background-attachment: fixed;
  background-color: $orange;
}
%innet-bnr-bg {
  background-color: -webkit-linear-gradient(288deg, #d62976, #fb813f);
  background: -moz-linear-gradient(288deg, #d62976, #fb813f);
  background: -o-linear-gradient(288deg, #d62976, #fb813f);
  background: linear-gradient(288deg, #d62976, #fb813f);
  background-attachment: fixed;
  background-color: #00dbf1;
}
%about-hd-line {
  background-color: -moz-linear-gradient(
    left,
    rgba(255, 255, 255, 1) 0%,
    rgba(0, 0, 0, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  );
  background-color: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(255, 255, 255, 1)),
    color-stop(54%, rgba(0, 0, 0, 1)),
    color-stop(100%, rgba(255, 255, 255, 1))
  );
  background-color: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 1) 0%,
    rgba(0, 0, 0, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  );
  background-color: -o-linear-gradient(
    left,
    rgba(255, 255, 255, 1) 0%,
    rgba(0, 0, 0, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  );
  background-color: -ms-linear-gradient(
    left,
    rgba(255, 255, 255, 1) 0%,
    rgba(0, 0, 0, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  );
  background-color: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(0, 0, 0, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  );
}
