$white: #fff;
$black: #000;
$blue: #0084bf;
$blue-btn-bg: #0084bf;
$white-btn-bg: #fff;
$blue-btn: #5a6981;
$blue-dark: #5a6981;
$hoverblue-btn: #6f84a5;
$dark-grey: #333;
$hoverorange: #f98649;
$orange: #fb813f;
$red: #ce4e45;
$hoverred: #cb4239;
$text: rgba(0, 0, 0, 0.85);
$Gainsboro: #dbdbdb;
$green: #007600;
$font-pt: "Roboto", sans-serif;
$gray-btn: #e5e9e9;
$hover-grey: #232323;
$hovergray-btn: #a7a7a7;
$hover-orange: #c9332e;
$light-grey: #666;
$hover-blue: #2b4988;
$dark-blue: #3d5b99;
$light-error: #ff9e9e;
$royal-blue: #3b5998;

$light-grey-border: rgba(219, 219, 219, 0.23);
$banner-p-col: rgba(255, 255, 255, 0.7);
$font-s-26: 26px;
$font-s-20: 20px;
$font-s-16: 16px;
$font-s-15: 15px;
$font-s-13: 13px;
$card-text: 17px;
$card-text992: 13px;
$card-btn-bg: #fff;
$card-btn-bg-hover: rgba(251, 129, 63, 0.1);
$padding-top-bot: 32px 0;
$parbase-bg: #fbfbfbf2;
$footer-link: rgba(0, 0, 0, 0.55);
$footer-font-s-15: 14px;
$footer-link-hover: #fb813f;
$copyright-bg: #383838;
$copyright-color: #a1a1a1;
$padding-top-bot992: 18px 0;
$sidenav-link-color: #a1a1a1;
$sidenav-link-hover-bg: rgba(251, 129, 63, 0.1);
